h1{ 
    color:blue;
    text-align: center;
}

 
   

h4{color:blueviolet}
.maclasse{color: white}
p{ 
      font-style: italic;
    font-weight:bold;
    color:green;
    font-size: 20px;
    padding-left: 60px;
    padding-left: 20px;
    font-weight: bold;
}
li{color: aquamarine;}


.gras{
    font-weight:bold;}

