h1{ 
    color:blue;
}

p{ 
    color:blueviolet;
}
h4{color:blueviolet}
.maclasse{color: white}
p{
    color:green;
    font-size: 20px;
    padding-left: 60px;
    padding-left: 20px;
    font-weight: bold;
}
li{color: aquamarine;}
